.modal-title{
  margin: auto;
  padding-left: 125px;
}
.modal-footer{
  margin: auto;
  padding-left: 125px;
}
.formular{
  background-color: #272A45;

  ;
}
  .nav-link{
    color:white !important;
    font-family: Droid Sans;
    background-color: #272A45;
    text-align: center;
    margin: 0px 79px;
    width: 106px;
    border-radius: 30px;
  }
  .logo{
    position: absolute;
    display:block;
  }
  .navbar{
    background-image: url("./static/images/Asset\ 6\ 2.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: right top;
  }
  .p1{
      position: absolute;
      width: 492px;
      height: 140px;
      left: 212px;
      top: 345px;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 56px;
  }
  .p2{
      position: absolute;
      width: 422px;
      height: 131px;
      left: 212px;
      top: 474px;

      font-family: Droid Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 42px;

      color: #000000;
  }
html, body {
      position: relative;
      max-width: 1637px;
      height: 3464px;     
      background: #FFFFFF;
  }

body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}
code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
